<footer class="footer mt-3 py-3 bg-light">
  <div class="container">
    <div class="row">

      <div class="col">
        <strong>Documentation</strong>
        <ul class="list-unstyled">
          <li><a class="text-muted" href="{{ .Site.Params.DocsURL }}/license.html">License</a></li>
          <li><a class="text-muted" href="{{ .Site.Params.DocsURL }}/faq.html">FAQ</a></li>
          <li><a class="text-muted" href="{{ .Site.Params.DocsURL }}/download.html">Getting Started</a></li>
        </ul>
      </div>

      <div class="col">
        <strong>Community</strong>
        <ul class="list-unstyled">
          <li><a class="text-muted" href="https://gitlab.freedesktop.org/mesa">GitLab</a></li>
          <li><a class="text-muted" href="{{ .Site.Params.DocsURL }}/lists.html">Mailing Lists</a></li>
          <li><a class="text-muted" href="{{ .Site.Params.DocsURL }}/bugs.html">Report a Bug</a></li>
        </ul>
      </div>

      <div class="col">
        <strong>More</strong>
        <ul class="list-unstyled">
          <li><a class="text-muted" href="{{ .Site.Params.DocsURL }}/webmaster.html">Webmaster</a></li>
          <li><a class="text-muted" href="{{ .Site.Params.DocsURL }}/thanks.html">Acknowledgements</a></li>
          <li><a class="text-muted" href="https://dri.freedesktop.org/wiki/">Mesa / DRI Wiki</a></li>
        </ul>
      </div>

      <div class="col">
        <ul class="list-unstyled">
          <li class="text-muted pb-2">Hosted by <a class="text-muted" href="https://www.freedesktop.org/">Freedesktop.org</a></li>
          {{ if .Page.Path }}
          <li><a class="text-muted" href="{{ .Site.Params.GitLabURL }}/-/blob/master/content/{{ .Page.Path }}">Edit this page</a></li>
          {{ end }}
        </ul>
      </div>

    </div>
  </div>
</footer>
