<h2>Latest news</h2>

{{ $newsPages := where .Site.RegularPages "Type" "news" }}
{{ range first 3 $newsPages.ByPublishDate.Reverse }}
<h3>{{ .Title }}</h3>

{{ index (split .Content "</p>") 0 | safeHTML }}</p>

<a href="{{ .Permalink }}">Read full post</a>

<hr>

{{ end }}

<a href="{{ "/news/" | relURL }}">Read all news</a>
